{% extends 'project/base.html' %}

{% block title %}Highest Rated Movies{% endblock %}

{% block content %}
    <h2>Highest Rated Movies</h2>
    <div class="movie-list">
        {% for movie in movies %}
            <div class="movie-item">
                <h3>{{ movie.title }}</h3>
                {% if movie.image %}
                    <img src="{{ movie.image }}" alt="{{ movie.title }}">
                {% else %}
                    <img src="https://via.placeholder.com/200x300?text=No+Image" alt="No Image">
                {% endif %}
                <p><strong>Avg Rating:</strong> {{ movie.average_rating|floatformat:2  }}</p>
                <a href="{% url 'movie_detail' movie.id %}">View Details</a>
            </div>
        {% empty %}
            <p>No movies found.</p>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    
        {% for num in pagination_range %}
            {% if num == page_obj.number %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
    
    
{% endblock %}
