<!-- mini_fb/templates/mini_fb/base.html 
 A template with common HTML code that will be re-used by 
 all of the other templates.
 -->
{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <!-- <link rel="stylesheet" href="/static/styles.css"> -->
        <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}">
    </head>

    <header>
        <h1>Mini Facebook</h1>
    </header>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">Show All Profiles</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.profile.pk %}">My Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
                {% endif %}
            </ul>
        </nav>

        {% block content %}
        <!-- fill in this section with specific page detail -->
        {% endblock %}

        <hr>
        <footer>
            Page created by tmarro@bu.edu.
        </footer>
    </body>
</html>