{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>Friend Suggestions for {{ object.firstname }} {{ object.lastname }}</h2>
    <ul>
        {% for suggestion in friend_suggestions %}
            <li>
                <a href="{% url 'show_profile' suggestion.pk %}">{{ suggestion.firstname }} {{ suggestion.lastname }}</a>
                <a href="{% url 'add_friend' object.pk suggestion.pk %}">Add Friend</a>
            </li>
        {% empty %}
            <p>No friend suggestions available.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'show_profile' object.pk %}">Back to Profile</a>
{% endblock %}
