<!-- show_all/templates/quotes/show_all.html -->
{% extends 'quotes/base.html' %}

{% block content %}
    <div class="grid-container">
        <main>    
            <h2>Welcome !</h2>
            <p>Welcome to the quote of the day application!</p><br>
            <p>This application displays quotes by and images 
                of<a href="https://en.wikipedia.org/wiki/Peter_Griffin"> Peter Griffin!</a></p><br>
            <p>
                Peter Griffin is the bumbling, well-meaning patriarch of the Griffin family on the animated sitcom Family Guy. Known for his impulsive behavior, low intellect, 
                and crude humor, Peter often finds himself in absurd situations, much to the frustration of his family and friends.</p><br>
            <p>Here's where you can watch his episodes: <a href="https://www.fox.com/family-guy/"> Fox.com</a></p><br>
        </main>    
    </div>
{% endblock %}